<div class="row" id="product_list">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Material</th>
      <th>Category</th>
      <th>Color</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td><%= link_to p.id, p %></td>
        <td><%= p.name %></td>
        <td><%= p.price %></td>
        <td><%= p.material %></td>
        <td><%= p.category %></td>
        <td><%= p.color %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>